.App {
  text-align: center;
}
/* write your parent styles in here for your App.js */
.header-container {
  background-color: blue;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}